body {
  background-color: #141414;
  color: #ffffff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.movie-app {
  padding: 20px;
}

.movie-app > .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-container {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  transition: transform 0.3s;
  cursor: pointer; /* Make the movie item cursor a pointer */
}

.image-container:hover {
  transform: scale(1.1);
}

.image-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.rating-badge {
  position: absolute;
  background-color: #ffcc00;
  color: #000;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: bold;
}

.imdb-rating {
  top: 10px;
  left: 10px;
}

.rotten-tomatoes-rating {
  top: 10px;
  right: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.favorite-button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.movie-details {
  background-color: #222;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.movie-details img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.show-details-button {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  align-self: center;
  transition: background-color 0.3s;
}

.show-details-button:hover {
  background-color: rgba(0, 123, 255, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

input.form-control {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

input.form-control::placeholder {
  color: #bbb;
}

/* Add the custom class for the modal body */
.movie-details-modal-body {
  color: black;
}
