body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: #141414;
  color: #ffffff;
}

.movie-app {
  padding: 20px;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}

.movie-app.dark {
  background-color: #141414;
  color: #ffffff;
}

.movie-app.light {
  background-color: #ffffff;
  color: #000000;
}

.movie-app > .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-theme-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.image-container {
  position: relative;
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin: 10px;
  transition: transform 0.3s;
  cursor: pointer;
}

.image-container:hover {
  transform: scale(1.1);
}

.image-container img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.rating-badge {
  position: absolute;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
}

.imdb-rating {
  background-color: #f5c518; /* IMDb color */
  color: #000;
  top: 10px;
  left: 10px;
}

.rotten-tomatoes-rating {
  background-color: #fa320a; /* Rotten Tomatoes color */
  color: #fff;
  top: 10px;
  right: 10px;
}

.google-reviews {
  bottom: 10px;
  right: 10px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.favorite-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(255, 0, 0, 0.8);
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 12px;
}

.favorite-button:hover {
  background-color: rgba(255, 0, 0, 1);
}

.movie-details {
  background-color: #222;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 10px;
}

.movie-details img {
  width: 200px;
  height: auto;
  margin-bottom: 20px;
}

.show-details-button {
  background-color: rgba(0, 123, 255, 0.8);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  margin-bottom: 10px;
  align-self: center;
  transition: background-color 0.3s;
}

.show-details-button:hover {
  background-color: rgba(0, 123, 255, 1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

input.form-control {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 5px;
}

input.form-control.light {
  background-color: #fff;
  color: #000;
  border: 1px solid #ccc;
}

input.form-control::placeholder {
  color: #bbb;
}

.movie-details-modal-body {
  color: black;
}

.theme-toggle-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: inherit;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #141414;
}

.navbar.light {
  background-color: #ffffff;
}

.navbar h1 {
  margin: 0;
  font-size: 24px;
}

.search-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.search-box.light {
  background-color: #fff;
  border: 1px solid #ccc;
}

.search-box input {
  background: none;
  border: none;
  color: inherit;
  outline: none;
  padding: 5px;
  width: 200px;
}

.search-box input::placeholder {
  color: #bbb;
}

.search-box .form-control {
  flex: 1;
}

.clear-icon {
  position: absolute;
  right: 30px;
  cursor: pointer;
}

.clear-icon:hover {
  color: #000;
}

.loading-icon {
  position: absolute;
  right: 10px;
}

.suggested-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #000; /* Black background */
  border: 1px solid #ccc;
  z-index: 1000;
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 200px;
  overflow-y: auto;
}

.suggested-dropdown li {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  color: #fff; /* White text */
}

.suggested-dropdown li:hover {
  background-color: #333; /* Darker background on hover */
}

.suggested-poster {
  width: 30px;
  height: 45px;
  object-fit: cover;
  margin-right: 10px;
}

.no-suggestions {
  padding: 10px;
  color: #fff; /* White text */
  text-align: center;
}

.trailer-container {
  margin-top: 20px;
}

.no-movies-found {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
}

.movie-card {
  width: 200px;
  background-color: #141414;
  color: #fff;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.movie-card:hover {
  transform: scale(1.05);
}

.movie-poster {
  width: 100%;
  height: auto;
}

.movie-info {
  padding: 10px;
}

.movie-title {
  font-size: 16px;
  margin: 10px 0;
}

.rating-badge {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: bold;
  margin-right: 5px;
}

.imdb-rating {
  background-color: #f5c518; /* IMDb color */
  color: #000;
}

.rotten-tomatoes-rating {
  background-color: #fa320a; /* Rotten Tomatoes color */
  color: #fff;
}
